*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backgroundadmin {
  width: 55vh;
  height: 65vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #080710;
  border-radius: 10px;
}
.backgroundadminregister {
  margin-top: 100px;
  width: 55vh;
  height: 105vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #080710;
  border-radius: 10px;
}
.backgroundadmin .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.backgroundadminregister .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
.formadmin {
  height: 65vh;
  width: 55vh;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.formadminregister {
  margin-top: 100px;
  height: 105vh;
  width: 55vh;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.formadminregister * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.formadminregister h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.formadmin * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.formadmin h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.formadminregister h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.labeladmin {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.inputadmin {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 300;
}

.buttonadmin {
  margin-top: 5vh;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.buttonadmin1 {
  margin-top: 5vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12vh;
  display: flex;
}
.forgotb {
  text-decoration: none;
  color: #080710;
  margin-left: 8vh;
}
